.productItem {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  width: 300px;
  margin: 15px 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fcf8f8;
  box-shadow:  3px 3px 3px #e7e7e7,
              -3px -3px 3px #ffffff;
}

.productItem__imageWrapper {
  margin-bottom: 15px;
}

.productItem__imageWrapper img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  object-fit: cover;
}

.productItem .productTitle {
  font-size: 1.4rem;
  font-weight: 500;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productItem .productPrice {
  font-size: 0.9rem;
  border-top: 1px solid rgb(200, 200, 200);
  padding-top: 10px;
  color: #343434;
}

.productItem .addProductButton {
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.productItem .addProductButton:hover {
  box-shadow:  6px 6px 6px #e7e7e7,
  -6px -6px 6px #ffffff;
}